extends ../layouts/layout.pug
block styles
    link(rel="stylesheet", href="/css/form.css")
block content
    main
        .form-container
            form(action="/auth/login" method="POST")
                .form-row
                    label(for="email") Email
                .form-row
                    input(type="email" name="email").input-control
                .form-row
                    label(for="password") Password
                .form-row
                    input(type="password" name="password").input-control
                if message.length > 0
                    .form-row
                        p.error-message #{message}  
                .form-row
                    button(type="submit").login-button Login