extends ../layouts/layout.pug
block styles
    link(rel="stylesheet", href="/css/form.css")
block content
    main
        form(action="/auth/signup" method="POST")
            label(for="") Email
            input(type="text" name="email")
            label(for="") Password
            input(type="text" name="password")
            label(for="") Confirm Password
            input(type="password" name="confpassword")
            button(type="submit") SignUp