extends ../layouts/layout.pug

block content
    main
        form(action="/admin/add-product" method="POST")
            div
                label(for="title") Title
                input(type="text" name="title" id="title")
            div
                label(for="price") Price
                input(type="text" name="price" id="price")
            div
                label(for="title") Description
                textarea(name="description", cols="30", rows="5" id="title")
            div
                label(for="imageUrl") Image Url
                input(type="text" name="imageUrl" id="imageUrl")
            div
                button(type="submit") Add Product