<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title #{title}
        link(rel="stylesheet", href="/css/layout.css")
        block styles
    body
        header.main-header
            .company-logo
                h1 EShop
            nav.navigation
                ul.navigation-list
                    li.list-item
                        a(href="/") Shop
                    li.list-item
                        a(href="/products") Products
                    li.list-item
                        a(href="/cart") Cart
                    li.list-item
                        a(href="/user/user/get-order") Oders
                    li.list-item
                        a(href="/admin/add-product") Add Product
                    li.list-item
                        a(href="/admin/products") Admin Products
                    li.list-item
                        a(href="/auth/login") Login
                    li.list-item
                        a(href="/auth/logout") Logout
        block content