<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/css/layout.css">
    <link rel="stylesheet" href="/css/card.css">
</head>
<body>
    <header class="main-header">
        <nav class="navigation">
            <ul class="navigation-list"> 
                <li class="list-item"><a href="/">Shop</a></li>
                <li class="list-item"><a href="/admin/add-product">Add Product</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <h1>My Products</h1>
        <p>List of all the products...</p>
        <div class="card">
            <div class="card-header">
                <span>This Is A Book</span>
            </div>
            <div class="card-image">
                <img src="" alt="">
            </div>
            <div class="card-body">
                <div class="card-body-details">
                    This is some kind of dummy text
                </div>
                <div class="card-body-controls">
                    <button>Add To Chart</button>
                </div>
            </div>
        </div>
    </main>
</body>
</html>