.form-container
{
    margin: 2% auto;
    width: 40%;
    display: flex;
    flex-direction: column;
}
.form-row
{
    flex: 1;
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 1%;
}
.form-col-1
{
    flex:1;
}
.form-col-2
{
    flex:2;
}
.form-col-3
{
    flex:3;
}
.input-control
{
    width: 60%;
}
.textarea
{
    width: 100%;
}