.form-container
{
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-top: 2%;
    margin-bottom: 2%;
    color: #535b5c;
}
.form-row:not(:last-child)
{
    margin-bottom: 5%;
}
.form-row
{
    flex: 1;
    display: flex;
    flex-direction: row;
    width: 100%;
}
.form-col-1
{
    flex: 1;
}
.form-col-2
{
    flex: 2;
}
.input-control
{
    width: 90%;
    border: 2px solid #707B7C;
    border-radius: 5px; 
    padding: 2%;
}
.button
{
    border: none;
    color: #ffffff;
    background-color: #707B7C;
    padding: 2% 5% 2% 5%;
}
.textarea
{
    width: 90%;
    border: 2px solid #707B7C;
    border-radius: 5px; 
    padding: 2%;
}
.error-message
{
    color: #C0392B;
    background-color: #FADBD8;
    border: 1px solid  #C0392B;
    width: 100%;
    padding: 2%;
}