extends ../layouts/layout.pug
block styles
    link(rel="stylesheet", href="/css/card.css")
block content
    main
        h1 Shop
        p List of all the products
        if cart.length > 0
            each cartItem in cart
                .card
                    .card-header
                        span #{cartItem.productId.title}
                    .card-image
                        img(src="", alt="")
                    .card-body 
                        .card-body-details
                            p #{cartItem.productId.description}
                            p Qunatity #{cartItem.quantity}
                        .card-body-controls
                            form(action="/cart-delete" method="POST")
                                - var productId = cartItem.productId._id + ""
                                input(type="hidden" name="productId" value=productId)
                                button(type="submit") Delete
        else
            p No Products Available...