extends ../layouts/layout.pug
block styles
    link(rel="stylesheet", href="/css/card.css")
    link(rel="stylesheet", href="/css/cart-items.css")
block content

    //-
        --- The new cart section ---
    main
        h1 CART
        p Your Cart Items
        if cart.length > 0
            .cart-items-data-grid
                each cartItem in cart
                    .cart-items-row
                        .cart-items-column
                            span #{cartItem.productId.title}
                        .cart-items-column
                            img(src="", alt="")
                        .cart-items-column-description
                            p #{cartItem.productId.description}
                        .cart-items-column
                            p #{cartItem.quantity}
                        .cart-items-column
                            form(action="/cart-delete" method="POST")
                                - var id = cartItem._id + ""
                                input(type="hidden" name="id" value=id)
                                button(type="submit") Delete
                form(action="/user/add-product" method="POST")
                    button(type="submit") Add Order
        else
            p Cart is empty ...
