extends ../layouts/layout.pug

block styles
    link(rel="stylesheet", href="/css/card.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")

block content
    main
        .card-container
            if products.length > 0
                each product in products
                    .card
                        .card-header
                            span #{product.title}
                        .card-body 
                            .card-body-image
                                img(src="product.png", alt="")
                            .card-body-details
                                p Description : #{product.description} 
                                p Price : 
                                    strong.cart-price #{product.price}
                            .card-body-controls
                                - var urlProductDetail = "/products/" + product._id
                                a(href=urlProductDetail).view-product-link
                                    i(class="fa fa-search fa-lg" aria-hidden="true")
            else
                p No Products Available...