extends ../layouts/layout.pug

block styles
    link(rel="stylesheet", href="/css/card.css")

block content
    main
        h1 My Products
        p List of all the products
        .card
            .card-header
                span #{product.title}
            .card-image
                img(src="", alt="")
            .card-body 
                .card-body-details
                    p #{product.description}
                    span #{product.price}
                .card-body-controls
                    button Add To Chart
        //- else
        //-     p Sorry This Product Is Not Available